main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.centralDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 2% 0%;
}

button {
    border: none;
    color: white;
    padding: 1% 1.8%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 50px;
}

.btnUp{
    background-color: #1d86ba;
}

.btnUp:hover {
    background-color: #085276;

}

.btnDown{
    background-color: #ba1d1d;
}

.btnDown:hover {
    background-color: #760808;

}

.btnReset{
    background-color: rgb(219, 19, 86);
}

.btnReset:hover {
    background-color: rgb(161, 11, 61);

}