/*Header Styles*/
/*Mobile*/
header {
    width: 100%;
    background: rgb(99, 99, 255);
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headTitle {
    color: rgb(26, 26, 37);
}

.pc {
    display: none;
}

.mobile {
    display: block;
}

.headBtn {
    border: none;
    margin-right: 1%;
    color: rgb(26, 26, 37);
    background: rgb(99, 99, 255);
    list-style-type: none;
    width: 33%;
}

.headBtn:hover {
    background: rgb(59, 59, 162);
    color: aliceblue;
}

.btnContainer {
    display: flex;
    width: auto;
}

.hamburgerMenu{
    border: none;
    background: rgb(99, 99, 255);
}

.hamburgerMenu:hover{
    background: rgb(59, 59, 162);
}

@media screen and (min-width:762px) {

    /*desktop*/
    header {
        width: 100%;
        background: rgb(99, 99, 255);
        top: 0%;
        padding-bottom: 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .pc {
        display: block;
    }

    .mobile {
        display: none;
    }

    .hamburgerMenu{
        display: none;
    }
}